/*project 2

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(103, 184, 180);
        display: flex;
        justify-content: center;
        align-items: center;
}



#container{
    height: 400px;
    width: 330px;
    border-radius: 10px;
    position: relative;
    background-color: grey;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#container i{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  scale(0);
    opacity: 0.8;
    transition: all ease 0.5s;
} */



















