* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }

  body{
    overflow-x: hidden;
  }
  section{
    height: 100%;
    width: 100%;
    position: relative;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
  }
  .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  @media screen and (max-width:680px){
    .part2{
        display: flex;
        flex-direction: column;
    }
    
  }

  nav h1{
    font-size: 40px;

  }

  nav h1 i{
    display: inline-block;
    rotate: 45deg;
    font-style: 45px;
  }

  nav h4{
    font-size: 17px;
    font-weight: 500;
  }

  nav button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid black;
  }

  .center{
    padding: 70px 100px;
    height: 80%;
    width: 100%;
    display: flex;

  }

  .centerpart1{
    height: 100%;
    width: 40%;

  }
 

  .centerpart1 h1{
    line-height: 1.2;
    font-size: 60px;
  }
  .centerpart1 p{
    font-size: 17px;
    width: 96%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .centerpart1 button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    font-weight: 600;
    border: none;
    
  }

  .centerpart2{
    height: 100%;
    width: 60%;
    position: relative;
  }
  .centerpart2 img{
    position: absolute;
    height: 100%;
    right: 0;
  }

  .section1bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 120px 30px;
  }
  .section1bottom img{
    height: 60px;
  }


  
  .section2 .service{
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 30px;

  }
  
  .service h3{
    background-color: #9AE975;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 20px;

  }
  .service p{
    width: 40%;
    font-size: 15px;
  }

  .container{
    height: 83%;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .elem{
    flex-shrink: 0;
    height: 250px;
    width: 48.5%;
    border: 3px solid black;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 15px 0px black;
    display: flex;
  }

  .elempart1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .elempart2{
    height: 100%;
    width: 50%;

  }
  .elempart2 img{
    height: 100%;
  }

  .elempart1 h2{
    font-size: 25px;
    font-weight: 500;
    background-color: #9AE975;
    width: 70%;
    padding: 0 3px;
    border-radius: 10px;
  }

  .elempart1 h4{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    gap: 10px;
  }
  .elempart1 h4 i{
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    color:#fff;
  }

  .black{
    background-color: black;
  }
  .line2 {
    color: #fff;
  }
 

