<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        .container{

            width: 100vw;
            height: 100vh;
            background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,48,1) 35%, rgba(14,69,80,1) 100%);
display: flex;
justify-content: center;
align-items: center;

        }
        .card{
            padding: 15px;;
            width: 360px;
            height: 500px;
            background-color: white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .card img{
            padding: 30px; 
            width: 99%;
            height: 70%;
            border-radius: 15px;

        

        }
        .card h2{
            font-size: 1.6rem;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            
                <img src="m52.jpg" alt="m5">
                <h2> DRIFTING KING BMW M5 CS </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aut.</p>

        </div>

    </div>
</body>
</html> -->

